* {margin:0;padding:0;}

body {
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: white;
}
#header {
	width:95%;
	height: 11%;
	background-color: #22272D;
	color:white;
	margin-top: 15px;
	margin-left: 2.5%;
	text-align: right;
	line-height: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
}
#kiri {
	width:25%;
	height: 50%;
	background-color:white;
	float:left;
	border-style:solid;
	border-color:#2ECC71;
	border-radius: 15px;
	margin-top:10px;	
	font-size: 12px;
	margin-left: 2.5%;
}
#kiri li a {
	text-decoration: none;
	border-top: 1px solid #000000;
	color: #F0f0f0;
	display: block;
	background-color: #2A9FD6;
	font-weight: bold;
	height:25px;
	line-height: 25px;
}
#kiri li a:hover {
	background-color: #F0f0f0;
	color:#2A9FD6;
	height:25px;
	line-height:25px;
}
#kanan {
	width : 67.5%;
	height:75%;
	background-color: #CCCCCC;
	border-style: solid;
	float: right;
	border-color: #2ECC71;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 12px;
	margin-right: 2.5%;
}
#footer {
	width : 95%;
	height: 120px;
	margin-top: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	float: left;
	background-color: #22272D;
	margin-left: 2.5%;
	color:#929292;
	font-size: 10;
}
#tombol{
	text-decoration: none;
	border-top: 1px solid #000000;
	color: #F0f0f0;
	display: block;
	background-color: #B2A438;
	font-weight: bold;
	height:25px;
	line-height: 25px;
}
#tombol a {
	text-decoration: none;
	border-top: 1px solid #000000;
	color: #F0f0f0;
	display: block;
	background-color: #D6612A;
	font-weight: bold;
	height:25px;
	line-height: 25px;
}
#tombol a:hover {
	color:black;
	height:25px;
	line-height:25px;
}
#tombol2{
	text-decoration: none;
	border-top: 1px solid #000000;
	color: #F0f0f0;
	background-color: #B2A438;
	font-weight: bold;
	height:25px;
	line-height: 25px;
	width : 100px;
	float:left;
}
#tombol2 a {
	text-decoration: none;
	border-top: 1px solid #000000;
	color: #F0f0f0;
	display: block;
	background-color: #D6612A;
	font-weight: bold;
	height:25px;
	line-height: 25px;
}
#tombol2 a:hover {
	color:black;
	height:25px;
	line-height:25px;
}
#logout_btn{
	text-decoration: none;
	border-top: 1px solid #000000;
	color: #F0f0f0;
	background-color: #B2A438;
	font-weight: bold;
	height:25px;
	line-height: 25px;
	width : 100px;
	float:right;
}
#logout_btn a {
	text-decoration: none;
	border-top: 1px solid #000000;
	color: #F0f0f0;
	display: block;
	background-color: #D6612A;
	font-weight: bold;
	height:25px;
	line-height: 25px;
}
#logout_btn a:hover {
	color:black;
	height:25px;
	line-height:25px;
}
a:link{
	color:black;
	line-height: 5px;
	text-decoration: inherit;
}
a:visited{
	color:black;
}
a:hover{
	color:#2A9FD6;
}
a:active{
	color:black;
}
h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h3 {
	margin-bottom: 10px;
	margin-bottom: 10px;
}
li {
	list-style-type: none;
}
.table1 {
	border : 1px;
	width : 97%;
	margin-left: 10px;
	border-color: white;
}
.input{
    width: 400px;
    height:20px;
    font-size: 12pt;
    border: 1px solid #2ECC71;
    padding-left:10px;
    color:#2ECC71;
}
.input:focus{
    width: 400px;
    height:20px;
    font-size: 12pt;
    padding-left:10px;
    color:#1ABC9C;
    outline: none;
    box-shadow: 0 0 5px #2ECC71;
}
.isi {
    font-size: 10.5;
    border: 1px solid #2ECC71;
    color:#2ECC71;
}
.isi:focus {
    font-size: 10.5;
	color:#1ABC9C;
    outline: none;
    box-shadow: #2ECC71;
}
.post {
	width: 100px;
	height: 25px;
	background-color: #2ECC71;
	color:white;
	border-radius: 5px;
	font-size: 11px;
	margin-left: 508%;
	margin-top: 10px;
}